body, html {
    font-size: 100%;
    font-family: "Helvetica", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #444;
}


nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}
nav ul li {
    border-bottom: 1px dotted #ddd;
}

/*Styling logo */
nav div:first-child {
    background: #222;
}
nav div:first-child h1 {
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}

nav img {
    max-width: 60%;
    height: auto;
}

nav div:first-child h1, nav ul {
    margin: 0;
    text-align: center;
}
/*Styling form */

#form {
    display: flex;
    flex-flow: wrap column;
    text-align: center;
}

/*Media query*/
@media only screen and (min-width: 30em) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #222;
    }
    
    #nav-bar ul {
        display: flex;
        background: none;
        flex-wrap: wrap;
        align-items: center;
    }
    nav div {
        max-width: 200px;
        height: auto;
    }
    #nav-bar img {
        margin: 0 1rem 0 0%;
        max-width: 100%;
    }
    nav div:first-child h1 {
        padding: 0;
    }
    nav div:first-child img {
        
    }
    nav ul li {
        border-bottom: none;
        flex: 1 0 auto;
        position: relative;
    }
    nav ul li a {
        padding: 1.2rem 1rem;
    }
    nav ul li a::before, nav ul li a::after {
        content: "";
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background: red;
        transition: .2s width ease-in-out;
    }
    nav ul li a::before {
        left: 0;
    }

    nav ul li a:hover::after, nav ul li a:hover::before {
        width: 50%;
    }
}

