body {
 padding: 0;
 margin: 0;   
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 10% 100vh auto 40px;
}
#navbar {
    grid-column: 1 / -1;
}

#navbar ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    grid-gap: 10px;
}
#welcome-section {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background: url(../img/programming.jpg);
    color: white;
    background-size: cover;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects {
    background-color: rgba(0, 0, 0, 0.089);
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
}
.project {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    padding: 20px;
    margin: 5px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
    align-items: center;
}
.project_picture {
    width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

#footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}